name: Deploy to Server

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Hola Mundo!
        run: echo "Hola Mundo desde el primer job"
  second_job:
    if: ${{github.ref == 'refs/heads/main'}}      #Este job solo se ejecutará si el push es a la rama main
    needs: first_job        #Este job necesita que el primer job termine exitosamente, de lo contrario no se ejecutará. Definimos needs para que no se ejecute el segundo job de manera paralela con el priomero
    runs-on: ubuntu-latest

    steps:
      - name: Hola Mundo segundo
        run: echo "Hola Mundo segundo!"